/* CSS Document */

.mouseyDialog {
        background:#a1b3c2; background:url(../images/PanelBg.png) bottom repeat-x;
        font-size:12px;
        font-family:arial,sans-serif; color:#FFF;
        padding:6px;
        position:relative;
        width: auto;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
		border:2px solid #414d57/*414d57*/;
}

.mouseyDialog_close {
        background:#a1b3c2;
        top:1px; margin-right:1px;
        color:#000;
        font-size:10px;
        padding:2px;
        position:absolute;
        right:0;
        text-decoration:none; 
		opacity:.80;
        filter:alpha(opacity=80); 
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}

.mouseyDialog_close:hover {
        color:#0000FF;
}

.hideDisplay { display:none; position:absolute; z-index: 100; }

